@model TheBookSpot.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DELETE A BOOK</h1>
<hr />
<h3 class="text-danger">Are you sure you want to delete this?</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <input asp-for="Author.FirstName" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <input asp-for="Publisher.Name" class="form-control" disabled/>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="DELETE" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;BACK
                </a>
            </div>
        </form>
    </div>
</div>



