@model TheBookSpot.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EDIT GENRE</h2>
<div class="container">
    <div class="row">
        <form method="post" asp-action="Edit">
            <fieldset>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="form-label mt-4">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="genreName" >
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group pt-5">
                    <button type="submit" class="btn btn-primary">UPDATE</button>
                    <a class="btn btn-success" asp-action="Index" asp-controller="Category">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;BACK</a>

                </div>

            </fieldset>
        </form>
    </div>
</div>
